

@section js {
    <script src="~/assets/js/shop.js"></script>
}



@section css {
    <link rel="stylesheet" href="~/assets/css/shop.css" />
}

   
    <main>
                        
        <section id="back-to-top-btn">
            <a id="button">
                <img src="./assets/images/chevron-up.svg" alt="">
            </a>
        </section>


        <section id="products-area">
            <div class="container mt-5">
                <div class="row row-gap-5">
                    <div class="col-12 col-lg-3">
                        <div class="col-12">
                            <h1>Kateqoriyalar</h1>
                            <div class="filter-btns shadow-md rounded-pill col-auto categories ">
                                <ul>
                                    <li>
                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4 active"
                                           data-filter=".project" href="#">Bütün məhsullar</a>
                                    </li>
                                    <li>
                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4"
                                           data-filter=".business" href="#">Çərəzlər</a>
                                    </li>
                                    <li>

                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4"
                                           data-filter=".marketing" href="#">Meyvə quruları</a>
                                    </li>
                                    <li>
                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4"
                                           data-filter=".social" href="#">Duzlu təamlar</a>
                                    </li>
                                    <li>
                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4"
                                           data-filter=".graphic" href="#">Kish-Mish qutular</a>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-9">
                        <div class="row row-gap-5">
                            <div class="col-12">
                                <div class="sorting">
                                    <div class="container">
                                        <div class="row">
                                            <div class="selection">
                                                <a>Sıralama<i class="fa-solid fa-angle-down"></i></a>
                                                <div class="menu">
                                                    <ul>
                                                        <li><a href="">Ucuzdan bahaya</a></li>
                                                        <li><a href="">Bahadan ucuza</a></li>
                                                        <li><a href="">Endirimdə olan Məhsullar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="popular">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/slider4.png" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Altın Çilek</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">10,65 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ccol-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="popular">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/Bitter-Sokoladli-Duble-Lokum-scaled.jpg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Bitter Şokoladlı Duble Lokum</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">9,40 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="winter">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/slider3.png" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Badamlı Pralin</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">10,20 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="winter">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/ALMA QURUSU DARÇINLI.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Alma Qurusu Darçınlı</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">2,10 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="various">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/Natural-Ananas-Qurusu.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Natural Ananas Qurusu</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">12,50 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="various">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/Franbuazli-Trufel.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Franbuazlı Trufel</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">9,30 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="exotic">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/Findiqli-Trufel.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>Fındıqlı Trufel</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">9,30 ₼</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-item text-center" data-id="exotic">
                                    <div class="img">
                                        <a href="">
                                            <img src="./assets/images/Kvadrat-Taxta-Qutu-1300x1300.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="title mt-3">
                                        <h6>KVADRAT TAXTA QUTU</h6>
                                    </div>
                                    <div class="price">
                                        <span class="text-black-50">416,00 ₼</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination">
                            <ul>
                                <li><a href="" class="current">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href=""><i class="fa-solid fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </section>




        </section>
        <!-- End Our Work -->
    </main>


  
