

@section css {
    <link rel="stylesheet" href="~/assets/css/basket.css" />
}

<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="./assets/images/chevron-up.svg" alt="">
        </a>
        <div class="box">
            <div class="icon-close">
                <i class="fa fa-times"></i>
            </div>
            <form action="" class="form-area">
                <input type="text" placeholder="Açar sözü daxil edin">
                <button>Axtarın</button>
            </form>
        </div>
    </section>


    <!-- <div class="mini-cart closed-cart">
           <div class="cart-mini">
               <div class="cart-mini-body">
                   <div class="row">
                       <div class="col-12">
                           <div class="header">
                               <h1>Shopping Cart</h1>
                               <img src="./assets/icons/xmark.svg" alt="" class="close-mini-cart">
                           </div>
                       </div>
                       <div class="cart-item">
                           <div class="row row-gap-2 mini-products">
                           </div>
                       </div>

                       <div class="col-12">
                           <div class="total-price">
                               <h1>Subtotal:</h1>
                               <span class="total">$<span></span></span>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="view-cart">
                               <a href="cart.html">View Cart</a>
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="checkout">
                               <a href="">Checkout</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="cart-mini-empty d-none">
                   <img src="./assets/images/empty-cart.png" alt="">
                   <h1>Your Cart is empty</h1>
                   <a href="shop.html">Go to Shop</a>
               </div>
           </div>

           <div class="overlay">
           </div>
       </div>
    -->

    <section id="cart-area">
        <div class="cart-main d-none">
            <div class="container-main">
                <div class="row row-gap-3">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="cart-header-product">Product</th>
                                            <th class="cart-header-price">Price</th>
                                            <th class="cart-header-quantity">Quantity</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12">
                                <div class="row row-gap-3">
                                    <div class="col-12 col-sm-8">
                                        <div class="coupon">
                                            <span>Coupon Code:</span>
                                            <div class="coupon-input">
                                                <input type="text" placeholder="Enter Coupon Code">
                                                <button>Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cart-clear">
                                            <button>Clear Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="subtotal-area">
                            <div class="header">
                                <h1>Subtotal</h1>
                                <span class="subtotal">$<span></span></span>
                            </div>
                            <div class="checkout">
                                <a href="">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>