@model HeaderVM

@section css {
    <link rel="stylesheet" href="~/assets/css/home.css"/>
}

<header>
    <section id="header-top">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-lg-12 col-sm-12">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/@Model.Settings["HeaderLogo"]"></a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 justify-content-end">
                    <div class="sidebar d-sm-block d-md-block">
                        <div class="icons-right">
                            <i class="fa-solid fa-bars open d-block"></i>
                            <i class="fa-solid fa-square-xmark right d-none"></i>
                            <i class="fa-solid fa-house right close"></i>
                            <i class="fa-solid fa-question right close"></i>
                            <i class="fa-solid fa-square-poll-vertical right close"></i>
                            <i class="fa-solid fa-file right close"></i>
                            <i class="fa-regular fa-heart right close"></i>

                        </div>
                        <div class="text-right d-none">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Ana səhifə</a></li>
                                <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                                <li><a asp-controller="Shop" asp-action="Index">Məhsullar</a></li>
                                <li><a asp-controller="Blog" asp-action="Index">Bloq</a></li>
                                <li><a asp-controller="Basket" asp-action="Index">Səbət</a></li>
                            </ul>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- navbar starts -->
    <section id="navbar-area" class="d-none d-sm-block">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-light  navbar-expand-xl">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="col-6 col-lg-6 col-sm-6">
                            <div class="navbar-nav mx-auto">
                                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Əsas</a>
                                <a asp-controller="About" asp-action="Index" class="nav-item nav-link">Haqqımızda</a>
                                <div class="nav-item products-dropdown">
                                    <a asp-controller="Shop" asp-action="Index" class="nav-link product-dropdown dropdown-toggle"
                                       data-bs-toggle="dropdown">Məhsullar</a>
                                    <div class="dropdown-menu">
                                        <ul class="submenu">
                                            @foreach (var item in Model.Categories)
                                            {
                                                <li>
                                                    <a class="filter-btn btn active" style="border: none;" asp-route-categoryId="@item.Id" asp-action="Index" asp-controller="Shop">@item.Name</a>

                                                </li>
                                            }
                                          
                                        </ul>
                                    </div>

                                </div>
                                <a asp-controller="Blog" asp-action="Index" class="nav-item nav-link">Bloq</a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-sm-6">
                            <div class="account">
                                <div class="d-flex m-3 me-0">
                                    <div class="container">
                                        <div class="icon-search">
                                            <i class="fas fa-search text-primary"></i>
                                        </div>
                                    </div>

                                    <a asp-controller="Basket" asp-action="Index" class=" position-relative me-4 my-auto">
                                        <i class="fa-regular fa-heart"></i>
                                        <span class=" product-count heart position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center px-1"
                                              style="top: -5px; left: 29px; height: 20px; min-width: 20px;">@ViewBag.BasketCount</span>
                                        </a>
                                        <div class="user">
                                            <a href="#" class="my-auto">
                                                <i class="fa-regular fa-user"></i>
                                            </a>
                                            <div class="dropdown-menu" style="max-width: 50px;">
                                                <ul class="submenu">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <li><a style="font-size: 14px;">@Model.UserFullName</a></li>
                                                        <li>
                                                            <form asp-controller="Account" asp-action="Logout">
                                                                <button type="submit" style=" width: 58px; margin-left: -20px; border: none; outline: none; background: none;">Çıxış</button>
                                                            </form>
                                                        </li>

                                                    }
                                                    else
                                                    {
                                                        <li><a asp-controller="Account" asp-action="Login">Daxil ol</a></li>
                                                        <li><a asp-controller="Account" asp-action="Register">Qeydiyyatdan keç</a></li>

                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="menu d-none">
                                            <i class="fa-solid fa-bars menu-bar" style="width: 44px; height: 44px; border: 2px solid rgba(1, 15, 28, 0.1019607843); display: flex; justify-content: center; align-items: center; color: #000000b5;"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </nav>
                </div>
            </div>
            </div>
        </section>

        <section id="navbar-mobile" <!-- navbar ends -->
    <div class="box">
            <div class="icon-close">
                <i class="fa fa-times"></i>
            </div>
            <form method="get" asp-controller="Shop" asp-action="Index" enctype="multipart/form-data" class="form-area position-relative mx-auto">
                <input type="text" name="searchText" placeholder="Açar sözü daxil edin">
                <button  type="submit" class="search-btn">Axtarın</button>
            </form>
        </div>
    </section>


    </header>