@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Lato-light;
  src: url(../fonts/Lato-Light.ttf);
}


@font-face {
  font-family: Lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Marcellus;
  src: url(../fonts/Marcellus-Regular.ttf);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
    .sidebar {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    #header-top .logo {
        max-width: 100% !important;
        max-height: 100% !important;
        justify-content: left;
        display: flex;
        margin-left: -30px;
    }


    #header-top .sidebar .open {
        font-size: 25px;
        cursor: pointer;
        display: block !important;
        color: black;
        position: absolute;
        top: 50%;
        right: 0%;
        justify-content: end;
        z-index: 100;
    }

    .sidebar.active {
        background: black;
        width: 260px;
        height: 100vh;
        position: relative;
        display: block;
    }

    .sidebar {
        width: 50px;
        position: relative;
    }


        .sidebar.active {
            background: black;
            width: 260px;
            height: 100vh;
            position: relative;
        }


    .icons-right .fa-bars {
        color: white;
        position: absolute;
        bottom: 9px;
        left: 9px;
        font-size: 38px;
        cursor: pointer;
    }


    .icons-right .fa-square-xmark {
        color: white;
        position: absolute;
        top: 9px;
        right: 9px;
        font-size: 38px;
        cursor: pointer;
    }

    .icons-right .fa-house.close {
        color: white;
        position: absolute;
        top: 166px;
        right: 9px;
        font-size: 28px;
    }

    .icons-right .fa-house.active {
        color: white;
        position: absolute;
        top: 166px;
        left: 40px;
        font-size: 28px;
    }

    .icons-right .fa-question.close {
        color: white;
        position: absolute;
        top: 230px;
        right: 10px;
        font-size: 28px;
    }



    .icons-right .fa-heart.active {
        color: white;
        position: absolute;
        top: 450px;
        left: 50%;
        font-size: 28px;
    }

    .icons-right .fa-heart.close {
        color: white;
        position: absolute;
        top: 420px;
        left: 35px;
        font-size: 28px;
    }



    .icons-right .fa-question.active {
        color: white;
        position: absolute;
        top: 230px;
        left: 40px;
        font-size: 28px;
    }

    .icons-right .fa-square-poll-vertical.close {
        color: white;
        position: absolute;
        top: 291px;
        right: 9px;
        font-size: 35px;
    }

    .icons-right .fa-square-poll-vertical.active {
        color: white;
        position: absolute;
        top: 291px;
        left: 40px;
        font-size: 35px;
    }

    .icons-right .fa-file.close {
        color: white;
        position: absolute;
        top: 356px;
        right: 12px;
        font-size: 33px;
    }

    .icons-right .fa-file.active {
        color: white;
        position: absolute;
        top: 356px;
        left: 40px;
        font-size: 33px;
    }

    .text-right ul {
        line-height: 62px;
        list-style: none;
        top: 154px;
        position: absolute;
        left: 60px;
    }

        .text-right ul li a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
        }
}

#header-top .logo {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;

}

#header-top .logo img {
  width: 45%;

}

#navbar-area .navbar-nav a {
  font-family: Raleway;
}

#navbar-area .account {
  width: 100%;
  height: 100%;
  display: flex;
  height: auto;
  justify-content: end;
}

#navbar-area .account .fa-user {
  width: 44px;
  height: 44px;
  border: 2px solid rgba(13, 1, 38, 0.102);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#navbar-area .account .fa-heart {
  width: 44px;
  height: 44px;
  border: 2px solid rgba(1, 15, 28, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000b5;
}

#navbar-area .account .heart {
  background-color: rgb(125 108 111 / 35%) !important;
  color: #000000b5;
  text-decoration: none;
}

#navbar-area .account .container{
  width: 44px;
  height: 44px;
  background-color: white;
  border: 2px solid rgba(1, 15, 28, 0.1019607843);
  position: relative;
  margin-right: 22px;
  transition: 0.5s;

}
#navbar-area .account .container .icon-search{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20px;
}


#navbar-area .account .fa-search {
  color: #444 !important;
  cursor: pointer;
}

.icon-close{
  position: fixed;
top: 25px;
right: 25px;
height: 50px;
width: 50px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
background-color: crimson;
cursor: pointer;
}

.icon-close i{
  color: #fff;
  font-size: 25px;
}

.box{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.8 );
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
visibility: hidden;
transform: 0.5s;
z-index: 1;
}

.box.open{
  opacity: 1;
  visibility: visible;
}

.form-area{
  width: 100%;
  max-width: 800px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: flex;
  border-bottom: 1px solid #0c0505;

}

.form-area input{
  flex: 1 1 auto;
  background-color: transparent;
  border: 0;
  height: 40px;
  font-size: 30px;
  width: 100%;
}

.form-area button{
  background: crimson;
  padding: 0 10px;
  border: none;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  cursor: pointer;
}

.form-area input:placeholder{
color: #fff;
letter-spacing: 3px ;
}

#navbar-area .navbar .submenu {
  list-style: none;
}


#navbar-area .navbar .nav-link {

  cursor: pointer;
  height: 40px;
  transition: border 1s linear;


}


@media (min-width: 1200px) {
  #navbar-area .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

  }

  #navbar-area .products-dropdown:hover .dropdown-menu {
    display: block;
  }


}


#navbar-area .navbar .nav-link:hover {
  border: 2px solid grey;



}



#navbar-area .navbar .submenu a {
  text-decoration: none;
  font-family: Lato;
  color: rgb(73, 73, 73);
  line-height: 1;
  margin-left: -10px;
  transition: 0.5s;
}

#navbar-area .navbar .submenu a:hover {
  color: rgba(120, 106, 170, 0.352);
}

.account i{
  transition: 0.5s;
}

.account i:hover{
border: 1px solid black !important;
}


.account .dropdown-menu{
  transform: translateX(-50%);
  display: none;
  margin-top: 0%;
}

.account .dropdown-menu .submenu{
  z-index: 1;
}
.account .user:hover .dropdown-menu{
  display: block !important; 

}

.account .user{
  transition: all 0.5s;
}

  

  #about-area{
    width: 100%;
    height: 400px;
   
position: relative;
}

#about-area .about-cover{
    width: 100%;
    height: 400px;
    position: absolute;

    opacity: 0.7;
}

#about-area .about-cover img{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover ;
    object-fit: cover;
}

html {
    scroll-snap-type: y mandatory;
  
  }

  #about-area{
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  } 


  #story{
    width: 100%;
    height: 300px;
  }


#values{
    background-color: rgb(236 236 236);    ;
}

  .values-item h2{
    font-family: Lato;
  }

body section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }




footer {
    background: #000;
    padding: 30px 0px;
    font-family: Lato;
    text-align: center;
  }
  
  
  footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
  }
  
  footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  footer .row a:hover {
    color: #fff;
  }
  
  footer .row ul {
    width: 100%;
  }
  
  footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  footer .copyright {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  @media (max-width:720px) {
    footer {
      text-align: cen;
      padding: 5%;
    }
  
    footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  
    footer .row a i {
      margin: 0% 3%;
    }
  }