@model ForgotPasswordVM

@section css {
    <link rel="stylesheet" href="~/assets/css/login.css" />
}


<main>
    <section id="login-area" style="background-image: url('/assets/images/login-background.jpg');">
        <div class="wrapper">
            <form method="post" asp-action="ForgotPassword">
                <h1>Şifrəni bərpa et</h1>
                <div class="text-danger errors" asp-validation-summary="ModelOnly"></div>
                <div class="input-box">
                    <input asp-for="Email" placeholder="Email">
                    <i class="fa-solid fa-user"></i>
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <button type="submit" class="btn">Göndər</button>
                <div class="register-link">
                    <p>Hesabınız yoxdur? <a asp-controller="Account" asp-action="Register">Qeydiyyatdan keçin</a></p>
                </div>
            </form>
        </div>
    </section>
</main>
