
@section css {
    <link rel="stylesheet" href="~/assets/css/home.css" />
}

<main>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <video autoplay muted loop id="myVideo" style=" position: fixed; right: 0; bottom: 0; width: 100%; min-height: 100%;">
            <source src="~/assets/images/Background-video.mp4" type="video/mp4">
        </video>
        <div class="alert alert-success text-center" role="alert" style="width: 350px">
            Emailinizi yoxlayın!
        </div>
    </div>
  

   

</main>

