@model AboutVM
@{
    ViewData["Title"] = "About Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/about.css" />
}


<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="~/assets/images/chevron-up.svg" alt="">
        </a>

    </section>

    <!-- START COVER AREA     -->
    <section id="about-area">
        <div class="about-cover">
            <img src="~/assets/images/about-cover.jpeg">
        </div>
    </section>
    <!-- END COVER AREA  -->
    <!-- START OUR STORY -->
    @foreach (var item in Model.About)
    {
        <section id="story banner-bg bg-light">
            <div class="container my-4">
                <div class="row mt-5">
                    <div class="banner-img col-lg-5">
                    </div>
                    <div class="banner-content col-lg-7 justify-content-center align-items-center">
                        <h2 class="h2 pb-3">Hekayəmiz</h2>
                        <p class="text-muted pb-5 light-300">
@item.Description                        </p>
                    </div>
                </div>
            </div>
        </section>
    }

    <!-- END OUR STORY -->
    <!-- START VALUE -->
    <section id="values">
        <div class="container py-5">
            <div class="row text-center ">
                @foreach (var item in Model.Values)
                {
                    <div class="values-item col-lg-4 revealOnScroll" data-animation="flipInX" data-timeout="400">
                        <div class="objective-icon card m-auto bg-secondary shadow-lg">
                            <img src="~/assets/images/@item.Image">
                        </div>
                        <h2 class="objective-heading h3 mt-3 mb-2 mb-sm-4 light-300">@item.Title</h2>
                        <p class="light-300">
                            @item.Description
                        </p>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--END VALUE-->
    <!-- START PAGE-REFER -->
    <section id="story banner-bg bg-light">
        <div class="container my-4">
            <div class="row mt-5">
                <div class="banner-content col-lg-12 justify-content-center text-center">
                    <h2 class="h2 pb-3">Kish-Mish Məhsulları</h2>
                    <p class="text-muted pb-2 light-300">
                        KİSH-MİSH ilə əsl ləzzətin dadını elə indi çıxardın
                </div>
                <div class="shopping justify-content-center align-items-center d-flex">
                    <button class="btn btn-success" style="width: 150px; height: 50px;  background-color: rgb(159, 101, 101);
    border: 1px solid;">
                        <a asp-controller="Shop" asp-action="Index" style="text-decoration: none; color: white">Alışverişə başla </a>

                    </button>
                </div>

            </div>
        </div>
    </section>
    <!-- END PAGE-REFER -->

</main>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

