@model SliderCreateVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create Slider</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="" enctype="multipart/form-data">
                <div class="form-group">

                    <label class="d-block form-control-label">Upload slider image</label>
                    <input asp-for="SliderImage" class="form-control  mb-2">
                    <span class="text-danger" asp-validation-for="SliderImage"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a type="reset" asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </a>
            </form>
        </div>
    </div>
</div>

