@model SliderEditVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Edit Slider</strong>
        </div>
        <div class="card-body card-block">
            <div>
                <img src="~/assets/images/@Model.Image" />
            </div>
            <form asp-action="Edit" method="post" class="mt-4" enctype="multipart/form-data">
                <div class="form-group">

                    <label class=" form-control-label">Upload slider image</label>
                    <input asp-for="NewImage" class="form-control  mb-2">
                    <span class="text-danger" asp-validation-for="NewImage"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" asp-controller="Slider" class="btn btn-light">Cancel</a>

            </form>
        </div>
    </div>
</div>

