

@model CategoryCreateVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create Category</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="">
                <div class="form-group">
                    <label class=" form-control-label">Enter category name</label>
                    <input asp-for="CategoryName" type="text" placeholder="Enter name..." class="form-control  mb-2" maxlength="100">
                    <span class="text-danger" asp-validation-for="CategoryName"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a type="reset" asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Back
                </a>
            </form>
        </div>
    </div>
</div>
