@model List<Blog>


@section css {
    <link rel="stylesheet" href="~/assets/css/blog.css" />
}

<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="~/assets/images/chevron-up.svg" alt="">
        </a>
        <div class="box">
            <div class="icon-close">
                <i class="fa fa-times"></i>
            </div>
            <form action="" class="form-area">
                <input type="text" placeholder="Açar sözü daxil edin">
                <button>Axtarın</button>
            </form>
        </div>
    </section>


    <!-- Start Our Work -->
    <section class="container py-5">
        <div class="row projects gx-lg-5">
            @foreach (var item in Model)
            {
                <a class="col-sm-6 col-lg-4 text-decoration-none project ">
                    <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                        <img class="card-img-top" src="./assets/images/@item.Image" alt="...">
                        <div class="card-body">
                            <h5 class="card-title light-300 text-dark">@item.Title</h5>
                            <p class="card-text light-300 text-dark">@item.Description</p>
                                
                        
                    </div>
                </div>
            </a>
        }


        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagination">
                    <ul>
                        <li><a href="" class="current">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href=""><i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Work -->

</main>
