
@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/blog.css" />
}

<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="./assets/images/chevron-up.svg" alt="">
        </a>
        <div class="box">
            <div class="icon-close">
                <i class="fa fa-times"></i>
            </div>
            <form action="" class="form-area">
                <input type="text" placeholder="Açar sözü daxil edin">
                <button>Axtarın</button>
            </form>
        </div>
    </section>


    <!-- Start Our Work -->
    <section class="container py-5">
        <div class="row projects gx-lg-5">
            <a class="col-sm-6 col-lg-4 text-decoration-none project marketing social business">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img class="card-img-top" src="./assets/images/ananas-blog.jpeg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">Qurudulmuş ananasın faydaları</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam consectetur sed neque magni illum numquam aliquam provident tempora reiciendis? Repellendus dolorem id provident quidem fugiat velit officia. Quisquam, assumenda.                        <span class="text-decoration-none text-primary light-300">
                                Read more <i class='bx bxs-hand-right ms-1'></i>
                            </span>
                    </div>
                </div>
            </a>
            <a class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="./assets/images/alma-blog.jpeg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">Darçınlı alma qurusu</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eum alias quaerat recusandae, temporibus pariatur iste id laborum provident sed optio reprehenderit numquam eius ad. Similique adipisci quia quam quibusdam!
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
            <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="./assets/images/xurma-blog.jpeg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">Vitamin deposu xurmalar</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam laboriosam aperiam consequuntur vero, eaque ex cupiditate voluptatem architecto delectus? Perferendis eos totam fuga veniam neque reprehenderit obcaecati expedita impedit cupiditate!
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
            <a class="col-sm-6 col-lg-4 text-decoration-none project social business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="./assets/img/our-work-04.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">Smart Applications</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sequi illum tempore voluptatem, nihil officiis officia deleniti nemo, magni delectus dolor modi quae possimus sint fuga? Accusantium aut nobis at.
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
            <a class="col-sm-6 col-lg-4 text-decoration-none project marketing">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="./assets/img/our-work-05.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">Corporate Stationary</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim perspiciatis iusto odit, cum impedit aspernatur. Tenetur quas omnis incidunt magni rerum ratione veritatis consequatur, illo, ullam dignissimos dolore? Natus, voluptate!
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
            <a class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="./assets/img/our-work-06.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">8 Financial Tips</h5>
                        <p class="card-text light-300 text-dark">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem officiis eveniet delectus error exercitationem nesciunt dicta? Porro iure doloribus ipsa voluptatem. Facere debitis recusandae vero ad distinctio deserunt earum rerum?
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Read more <i class='bx bxs-hand-right ms-1'></i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagination">
                    <ul>
                        <li><a href="" class="current">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href=""><i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Work -->

</main>
